<div class="container">
  <h1>Showing Pool - <%= h @pool.id %></h1>

  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>

  <hr />
  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= @pool.name %></dd>
    <dt>Location:</dt>
    <dd><%= @pool.location %></dd>
    <dt>Length (m):</dt>
    <dd><%= @pool.length %></dd>
  </dl>
  <hr />

  <%= link_to 'Edit', edit_pool_path(@pool), class: "btn btn-primary" %>
  <%= link_to 'Back', pools_path, class: "btn btn-primary" %>
</div>

<%= debug @pool %>
