<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @swim.start %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @swim.duration %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @swim.distance %>
</p>

<%= link_to 'Edit', edit_swim_path(@swim) %> |
<%= link_to 'Back', swims_path %>
