<div class="container">
  <h1>Showing Swim - <%= h @swim.id %></h1>

  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>

  <hr />
  <dl class="dl-horizontal">
    <dt>When:</dt>
    <dd><%= @swim.when %></dd>
    <dt>Where:</dt>
    <dd><%= @swim.pool.name %></dd>
    <dt>Duration:</dt>
    <dd><%= @swim.duration_string %></dd>
    <dt>Distance:</dt>
    <dd><%= @swim.distance %>m</dd>
    <dt>Avg Speed:</dt>
    <dd><%= @swim.avg_speed %>m/s</dd>
  </dl>
  <hr />

  <%= link_to 'Edit', edit_swim_path(@swim), class: "btn btn-primary" %>
  <%= link_to 'Back', swims_path, class: "btn btn-primary" %>
</div>
